<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Air Quality Web App</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{assets/img/favicon.png}" th:rel="icon">
    <link th:href="@{assets/img/apple-touch-icon.png}" th:rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{assets/vendor/bootstrap/css/bootstrap.min.css}" th:rel="stylesheet">
    <link th:href="@{assets/vendor/icofont/icofont.min.css}" th:rel="stylesheet">
    <link th:href="@{assets/vendor/boxicons/css/boxicons.min.css}" th:rel="stylesheet">
    <link th:href="@{assets/vendor/venobox/venobox.css}" th:rel="stylesheet">
    <link th:href="@{assets/vendor/remixicon/remixicon.css}" th:rel="stylesheet">
    <link th:href="@{assets/vendor/owl.carousel/assets/owl.carousel.min.css}" th:rel="stylesheet">
    <link th:href="@{assets/vendor/aos/aos.css}" th:rel="stylesheet">

    <link th:href="@{assets/select2-develop/dist/css/select2.css}" th:rel="stylesheet"/>
    <link th:href="@{assets/select2-bootstrap4-theme-master/dist/select2-bootstrap4.css}" th:rel="stylesheet"/>
    <link th:href="@{webjars/bootstrap/4.4.1-1/css/bootstrap.min.css} " th:rel="stylesheet"/>

    <!-- Template Main CSS File -->
    <link th:href="@{assets/css/style.css}" th:rel="stylesheet">
    <link th:href="@{assets/page404/style.css}" th:rel="stylesheet"/>

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center" style="background-color: #0205A1">
    <div class="container d-flex align-items-center">

        <div class="logo mr-auto">
            <h1 class="text-light"><a href="/"><span>Air Quality App</span></a></h1>
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a th:href="@{/}">By City</a></li>
                <li><a th:href="@{by-day}">By Day</a></li>
                <li><a th:href="@{cache-statistics}">Cache Statistics</a></li>
            </ul>
        </nav>

    </div>
</header><!-- End Header -->

<main id="main" class="pt-5">

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts mt-5 pt-5" style="background-color: white">
        <div class="container">

            <div id="notfound">
                <div class="notfound">
                    <div class="notfound-404">
                        <h1>Error</h1>
                    </div>
                    <h2>We are sorry, error while fetching!</h2>
                    <p>The metrics you are looking for are temporarily unavailable.</p>
                    <div class="text-center text-lg-center">
                        <a href="/">Back To Homepage</a>
                    </div>
                </div>
            </div>

            <div class="section-title" data-aos="fade-up">
                <h2 style="font-size: 30px; font-weight: bolder" id="city_text"></h2>
                <p class="mt-2" style="font-size: 13px">Analyse some metrics concerning the city's air quality</p>
            </div>

            <div class="row" data-aos="fade-up" id="metrics-div">

                <div class="col-lg-12 mb-5">
                    <div class="count-box" style="background-color: #f5f5ff;">
                        <i class="icofont-info-circle"></i>
                        <span data-toggle="counter-up" id="aqi"></span>
                        <p><b>Air Quality Index</b></p>
                    </div>
                </div>

                <div class="col-lg-4 mt-5 mb-5 mt-md-0">
                    <div class="count-box" style="background-color: #f5f5ff;">
                        <i class="icofont-info-circle"></i>
                        <span data-toggle="counter-up" id="co"></span>
                        <p><b>Carbon Monoxide (CO)</b></p>
                    </div>
                </div>

                <div class="col-lg-4 mt-5 mb-5 mt-lg-0">
                    <div class="count-box" style="background-color: #f5f5ff;">
                        <i class="icofont-info-circle"></i>
                        <span data-toggle="counter-up" id="no2"></span>
                        <p><b>Nitrogen Dioxide (NO2)</b></p>
                    </div>
                </div>

                <div class="col-lg-4 mt-5 mb-5 mt-lg-0">
                    <div class="count-box" style="background-color: #f5f5ff;">
                        <i class="icofont-info-circle"></i>
                        <span data-toggle="counter-up" id="o3"></span>
                        <p><b>Ozone (O3)</b></p>
                    </div>
                </div>

                <div class="col-lg-4 mt-5 mb-5 mt-lg-0">
                    <div class="count-box" style="background-color: #f5f5ff;">
                        <i class="icofont-info-circle"></i>
                        <span data-toggle="counter-up" id="so2"></span>
                        <p><b>Sulfur Dioxide (SO2)</b></p>
                    </div>
                </div>

                <div class="col-lg-4 mt-5 mb-5 mt-lg-0">
                    <div class="count-box" style="background-color: #f5f5ff;">
                        <i class="icofont-info-circle"></i>
                        <span data-toggle="counter-up" id="pm10"></span>
                        <p><b>Inhalable particulate matter (PM10)</b></p>
                    </div>
                </div>

                <div class="col-lg-4 mt-5 mb-5 mt-lg-0">
                    <div class="count-box" style="background-color: #f5f5ff;">
                        <i class="icofont-info-circle"></i>
                        <span data-toggle="counter-up" id="pm25"></span>
                        <p><b>Fine particulate matter (PM2.5)</b></p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" style="position: absolute; right: 0; bottom: 0; left: 0;">
    <div class="container">
        <div class="copyright">
            &copy; 2020 - Developed with <i class="icofont-rocket" style="font-size: 1rem"></i>
            by <strong><a style="color: white" href="https://vascoalramos.me/" title="Portfolio | Vasco Ramos"
                          target="_blank" rel="noopener noreferrer">Vasco Ramos</a></strong>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script th:src="@{assets/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{assets/vendor/jquery.easing/jquery.easing.min.js}"></script>
<script th:src="@{assets/vendor/php-email-form/validate.js}"></script>
<script th:src="@{assets/vendor/venobox/venobox.min.js}"></script>
<script th:src="@{assets/vendor/waypoints/jquery.waypoints.min.js}"></script>
<script th:src="@{assets/vendor/counterup/counterup.min.js}"></script>
<script th:src="@{assets/vendor/owl.carousel/owl.carousel.min.js}"></script>
<script th:src="@{assets/vendor/TweenMax/TweenMax.min.js}"></script>
<script th:src="@{assets/vendor/wavify/wavify.js}"></script>
<script th:src="@{assets/vendor/aos/aos.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{assets/js/main.js}"></script>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    let city_id = /*[[${city_id}]]*/;
    /*]]>*/

    $(document).ready(function () {
        $(".section-title").hide();
        $("#metrics-div").hide();
        $("#notfound").hide();

        $.get("/api/air-metrics?city_id=" + city_id)
            .done(function (response) {
                let data = response["data"][0];
                $("#city_text").text(response["city_name"] + ", " + response["country_code"]);
                $("#aqi").text(data["aqi"]);
                $("#co").text(data["co"]);
                $("#no2").text(data["no2"]);
                $("#o3").text(data["o3"]);
                $("#so2").text(data["so2"]);
                $("#pm10").text(data["pm10"]);
                $("#pm25").text(data["pm25"]);

                $(".section-title").show();
                $("#metrics-div").show();
            })
            .fail(function () {
                $("#notfound").show();
            })
            .always(function () {
                if ($('#preloader').length) {
                    $('#preloader').fadeOut('slow', function () {
                        $(this).remove();
                    });
                }
            });
    });
</script>

</body>
</html>