<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Air Quality Web App</title>

    <link th:href="@{assets/select2-develop/dist/css/select2.css}" th:rel="stylesheet"/>
    <link th:href="@{assets/select2-bootstrap4-theme-master/dist/select2-bootstrap4.css}" th:rel="stylesheet"/>
    <link th:href="@{webjars/bootstrap/4.4.1-1/css/bootstrap.min.css} " th:rel="stylesheet"/>

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Air Quality App</a>
        <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler" data-target="#navbarResponsive" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="container">
    <h2 class="mt-5">City ID: <strong th:text="${city_id}"></strong></h2>

    <a class="btn btn-primary" th:href="@{/}">Go back</a>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script>
    $.get("/api/air-metrics", function(status, body){
        console.log(body)
    });
</script>

</body>
</html>